
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rating {
    max-width: 300px;
    display: flex;
    background-color: tomato;
    justify-content: space-around;
    border-radius: 6px;
    padding: 10px;
}

.star {
   cursor: pointer;
}
